.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
h1{
  color:#ffcccc;
}
p{
color:#ffb8b8;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.search-box{
align-self: center;
height: 52px;
width: 722px;
font-size: 28px;
border-radius: 50px;
}
input[type=text]:focus {
  background-color: #b2bec3;
  outline: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
